src/main/mule/mb-xapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="11411cc5-dff2-4350-9767-a75f3e6e13f6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mb-xapiFlow" doc:id="1d0fbe1d-4ebe-4f69-a5fb-ca78f3be2424" >
		<http:listener doc:name="Listener" doc:id="7b7e41af-cf89-4c30-a601-52aaf2d056dd" config-ref="HTTP_Listener_config" path="/xapi" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="bad74832-efcc-425c-980d-b5734c313f49" message="#[message]"/>
		<ee:transform doc:name="Transform Message" doc:id="c04cadc4-18d1-4e67-8fbb-469256e2d8d6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Details received": {
		"Name": payload.Name,
		"Email": payload.Email,
		"Subject": payload.Subject,
		"Message": payload.Message
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
