src/main/mule/mb-xapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="11411cc5-dff2-4350-9767-a75f3e6e13f6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="1b52ddca-12e7-404e-92f8-db8cacb0e121" >
		<http:request-connection host="mb-papi.us-e2.cloudhub.io" />
	</http:request-config>
	<flow name="mb-xapiFlow" doc:id="1d0fbe1d-4ebe-4f69-a5fb-ca78f3be2424" >
		<http:listener doc:name="Listener" doc:id="7b7e41af-cf89-4c30-a601-52aaf2d056dd" config-ref="HTTP_Listener_config" path="/xapi" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="bad74832-efcc-425c-980d-b5734c313f49" message="#[message]"/>
		<ee:transform doc:name="Transform Message" doc:id="c655ff55-6ac6-4bae-9ea2-759edbf27b1a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
(payload splitBy  "&") map ((item, index) -> 
    if(item contains("=")) item replace "=" with ":" else item
)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="ef7aba7a-0c31-489d-a390-4e3ebc2e4308" config-ref="HTTP_Request_configuration" path="/api/enquiry-papi"/>
		<ee:transform doc:name="Transform Message" doc:id="c04cadc4-18d1-4e67-8fbb-469256e2d8d6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message": "Data successfully entered in DB."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
